*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Outfit", sans-serif ;
    background-image: url(" https://images3.alphacoders.com/109/1091500.jpg");
  background-size: cover;
  background-position: top center;
  

}
.appwrap{
    color: white;

    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  text-align: center;

}
header{
    padding: 50px;
}
header input:focus {
    background-color: rgba(18, 18, 18, 0.8);
  }
  
input,button{
    border-radius: 30px;
    font-size:1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(226, 207, 36, 1.5);
    background: transparent;
    color: white;
    
   
}
input{
    border: none;
    outline: none;
}

.location{
    padding-bottom: 50px;
}
.city{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.date{
    font-size: larger;
}
.temp{
    font-size: 7rem;
    margin-bottom: 2rem;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
}
.weather{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}
.hilow{
    font-size: 1.5rem;
    padding-bottom:8em;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}
